<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="header"></div>
<div th:insert="menu"></div>
<div>
    <h1>Üzenetek lekérése</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Üzenet</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="content : ${uzenetek}">
            <td th:text="${content.id}"></td>
            <td th:text="${content.content}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:insert="footer"></div>
</body>
</html>